---
import MainLayout from '../layouts/MainLayout.astro';
import LavaLamp from '../components/LavaLamp';
import About from '../components/about';
import Contact from '../components/contact';
import WaveDivider from '@/components/WaveDivider.astro';
import { CONTENT } from '@/data/content';



---

<MainLayout title="Portfolio">
  <!-- Hero Section -->
  <section class="h-screen flex items-center justify-center relative">
    <LavaLamp client:load />
    <div class="z-10 text-white">
      <h1 class="text-6xl font-bold mb-4">{CONTENT.hero.title}</h1>
      <p class="text-xl">{CONTENT.hero.subtitle}</p>
    </div>
  </section>
  <WaveDivider/>
  <!-- About Section -->
 <About client:load /> 






  <!-- Contact Section -->
  <Contact client:load />



</MainLayout>